<%= form_for([@product, @goal]) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> stopped this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form>
  <fieldset>
    <legend> Product Goal Info</legend>
      <div class="med-text">
        <%= f.label :goal %>
        <%= f.text_field :goal %>
        <%= hidden_field_tag "goal[product_id]", @product.id %>
      </div>

      <div class="number">
        <%= f.label :size %>  
        <%= f.text_field :size %>
      </div>

      <div class="number">
        <%= f.label :completion_percent%>
        <%= f.text_field :completion_percentage %>
      </div>
        
  <div class="actions">
    <%= f.submit :class => 'add_button' %>
  </div>
  </fieldset>

</form>

<% end %>
