<p id="notice"><%= notice %></p>

<p>
 <h2> <%= @product.name %>   </h2>
</p>

<p>
  <b>Overview:</b>    </br>
  <%= @product.overview %>
</p>

<h2>Product Goals</h2>
<ul>
<% @product.goals.each do |goal| %>
    <li>
      <%= goal.goal %>
      <%= link_to "X", [goal.product, goal],
                  :confirm => "Are you sure?",
                  :method => 'delete'%>
    </li>
<% end %>
</ul>


<%= button_to 'Add a Product Goal', new_product_goal_path(@product) %>   |
<%= link_to 'Edit Product', edit_product_path(@product) %> |
<%= link_to 'Back to the Product List', products_path %>
