
<p>
 <h2> <%= @product.name %></h2>

</p>

<p>
  <%= @product.overview %>
</p>


<h2>Product Goals</h2>
  <ul>
<% @product.goals.each do |goal| %>
    <li>
      <%= goal.goal %>
      <%= link_to "edit", edit_product_goal_path(@product,goal)%>
      <%= link_to "delete", [goal.product, goal],
                  :confirm => "Are you sure?",
                  :method => 'delete'%>
          <ul>
            <li> <%= goal.size %> total points  </li>
            <li>Completion perecentage <%= goal.completion_percentage %></li>
          </ul>
    </li>


<% end %>

</ul>
</br>
</br>

<%= link_to '<= Back to the Product List', products_path %>     |<%= link_to '  Edit Product',edit_product_path(@product) %>     |
<%= link_to '+ Add a Product Goal', new_product_goal_path(@product) %>

</br>
</br>

<%= button_to 'Delete Product', { :action => "destroy"}, :confirm => "Are you sure?", :method => :delete, :class => 'delete_button' %>
