<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang ='en-US'>
<head>
  <title> Product </title>
   <link rel="stylesheet href="/assets/stylesheets/application.css">
 </head>
<body>
<p id="notice"><%= notice %></p>

<p>
 <h2> <%= @product.name %></h2>

</p>

<p>
  <%= @product.overview %>
</p>


<h2>Product Goals</h2>
  <ul>
<% @product.goals.each do |goal| %>
    <li>
      <%= goal.goal %>
      <%= link_to "edit", edit_product_goal_path(@product,goal)%>
      <%= link_to "delete", [goal.product, goal],
                  :confirm => "Are you sure?",
                  :method => 'delete'%>
    </li>
<% end %>

</ul>

<%= link_to '<= Back to the Product List', products_path %>     
|
<%= link_to '  Edit Product',edit_product_path(@product) %>    
|
<%= link_to '+ Add a Product Goal', new_product_goal_path(@product) %>

<%= button_to 'Delete Product', {:controller => "products",  :action => :destroy, :id => @product.id}, confirm: 'Are you sure you want to delete?'%>


</body>
</html>

